
html{
	background-color: #4864e0;
	scroll-behavior: smooth;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: white;
}
a:hover{
  text-decoration-line: underline;
}
figcaption{
  margin-top: 40px;
  font-size: 26px;
}
footer{
	background-color: gray;
	text-align: right;
	font-size: 18px;
	padding: 10px 0;
	width: 100%;
}
.headers{

	text-align: center;
	font-family: "raleway", sans-serif;
	font-size: 40px;

}
.links{
  	text-align: center;
  	padding-top: 60px;
	font-family: "poppins", sans-serif;
	font-size: 35px;
}
.icon{
	height: 100px;
	width: 100px;
	object-fit: contain;
	padding-right: 20px;
}
/*.project-tile{
  	width: auto;
	max-height: 256px;
}*/
/*.certifs{
	display: flex;
	align-content: center;
}*/
#navbar{
  font-family: sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}
#navbar li{
  	float: right;
	padding-bottom: 10px;
	padding-right: 30px;
}
#navbar a{
  display: block;
  text-align: center;
  padding: 5px;
}
#navbar a:hover{
  background-color: #111;
	border-radius: 20px;
}
/*#welcome-section{
  margin-top: 100px;
  height: 100vh;
}*/
#title{
	margin-top: 40vh;
  color: white;
  background-color: #374cab;
  border-radius: 45px;
	text-align: center;
	font-family: poppins, sans-serif;
	letter-spacing: 1px;
	font-size: 60px;
  	padding: 20px 0;
}
#ProjCertif {
	display: flex;
	justify-content: space-evenly;
	margin: 50px 0 163px;
}
#aboutme{
	background-color: mediumpurple;
	padding-top: 100px;
	margin-top: 90px;
	padding-bottom: 50px;
}
#about{
	font-family: roboto, sans-serif;
	text-align: center;
	font-size: 25px;
	line-height: 2em;
}
#funFacts{
	float: left;
}
#funFacts p{
	font-size: 30px;
	padding-left: 35px;
}
#funFacts ul{
	list-style-type: circle;
	font-size: 20px;
	line-height: 2em;
}
#selfPic{
	float: right;
}
#selfPic img{
	padding-right: 15px;
	height: 512px;
	width: 512px;
	object-fit: contain;
}
.clearfix{
	clear: both;
}
/*#projects{
  	height: 100vh;
	background-color: #7848E0;
}*/
/*#project-list{
  font-family: roboto, sans-serif;
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}*/
#social{
	padding-top: 100px;
  margin: 200px;
}
#social-header{
}
#social-links{
	display: flex;
	justify-content: space-evenly;
	margin-top: 110px;
	text-align: center;
	font-family: "roboto",sans-serif;
	font-size: 25px;
	}
#social-links{
	line-height: 0;
}
@media only screen and (max-width: 812px){
	#selfPic img{
		height: 256px;
		width: 256px;
		text-align: center;
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	#about{
		font-size: 18px;
	}
	footer{
    font-size: 6px;
  	}
	#navbar li{
  	float: left;
	}
	#ProjCertif{
		font-size: 30px;
	}
	#social-links{
		flex-direction: column;
		justify-content: space-around;
	}
	#social-links li{
		margin-bottom: 40px;
	}


}
