@charset "utf-8";
/* CSS Document */
html{
	scroll-behavior: smooth;
}
p{
	text-align: center;
	font-family: "roboto", sans-serif;
	line-height: 2;
}
a{
	text-decoration: none;
	color: black;
}
h1{
	padding-top: 25px;
	font-family: "poppins", sans-serif;
	text-align: center;
}
h2{
	font-family: "raleway", sans-serif;
	text-align: center;
}
.icon{
	width: 100px;
	height: auto;
}
.welcomeIcon{
	width: 75px;
	height: auto;
}
#navbar{
	position: fixed;
	width: 100%;
	top: 0;
	margin: 0;
	background-color: #333;
}
#navbar ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#navbar li{
  	float: right;
	padding-right: 20px;
}
#navbar a{
	display: block;
	color: white;
	font-family: sans-serif;
  	text-align: center;
  	padding: 10px;
	text-decoration: none;
}
#navbar a:hover{
 	background-color: #111;
	border-radius: 20px;
}
#home{
	background-color: #003262;
	height: 100vh;
}
#welcome{
	float: left;
	width: 50%;
}
#title{
    padding: 20px 0;
    margin-top: 30vh;
	margin-bottom: 50px;
	margin-left: 7vw;
    width: 100%;
    background-color: #000000;
    border-radius: 45px;
    font-family: poppins, sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
}
#links{
	display: flex;
	justify-content: space-evenly;
	padding-left: 12vw;
	flex-wrap: wrap;
}
#resume{
	padding-left: 27vw;
	color: white;
	text-align: center;
	font-family: "raleway", sans-serif;
	font-size: 2em;
}
#resume:hover{
	text-decoration: underline;
}
#profile-pic{
    float: right;
    width: 25vw;
    height: auto;
    padding-top: 23vh;
    margin-right: 5%;
    margin-left: auto;
}
.clear{
	clear: both;
}
#technicals ul{
	margin-right: 2.6vw;
	font-size: 1.25em;
	font-family: "roboto", sans-serif;
	text-align: center;
	list-style-position: inside;
	line-height: 3;
}
#skills{
	
}
#skills li{
	font-family: "roboto", sans-serif;
	margin-top: 10px;
}
#skills-flex{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
#languages ul{
	margin-left: 4vw;
}
#tools ul{
	margin-right: 4vw;
}
#social{
	padding-bottom: 10vh;
}
figcaption{
	font-family: "roboto", sans-serif;
	padding-top: 15px;
	text-align: center;
	
}
#social-flex{
	display: flex;
	justify-content: space-evenly;
	padding-top: 10vh;
	flex-wrap: wrap;
}
footer{
	float: right;
}
@media screen and (max-width: 900px){
	.welcomeIcon{
		width: 85px;
		margin-right: 50px;
	}
	#resume{
		padding-left: 30vw;
	}
	.icon{
		width: 150px;
		padding-top: 10px;
	}
	#aboutme p{
		text-align: left;
		margin-left: 10px;
		margin-right: 10px;
	}
	#home{
		height: 130vh;
	}
	#title{
		font-size: 20px;
		margin-left: 0;
		margin-top: 40px;
	}
	#profile-pic{
		/*height: 150px;*/
		width: 200px;
		padding-right: 15%;
		/*display: block;
		margin-left: auto;
		margin-right: auto;*/
	}
	#welcome{
		width: 100%;
	}
}